body {
    color: white;
    background-color: black;
    font-family: 'Anton', sans-serif;
}

h1 {
    color: rgb(80, 113, 190);
    margin-top: 0%;
    font-family: 'Pacifico', cursive;
    font-size: 70pt;
    text-decoration: underline;
}

header {
    text-align: center;
}


h2 {
    padding-top: 50pt;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40pt;
    text-align: center;
    text-decoration: underline;
}

#myExperience {
    text-align: left;
    font-size: 20pt;
}

#creations {
    padding: 100pt;
    text-align: start;
    font-size: 20pt;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reviews {
    text-align: start;
    font-size: 20pt;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    padding-top: 50pt;
}